*{
    font-family: Comic Sans MS;
    font-size: 30px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
li{
    font-size: 40px;
}
.imgprin{
    width: 100%;
    height: 75%;
}
.imgdes{
    width: 20%;
    height: 7%;
}
.imgcom{
    width: 7%;
    height: 7%;
}
.imgcar{
    width: 75%;
    height: 50%px;
}
body{
    background-image: url(imagenes/wallpaper1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}