*{
    font-family: Comic Sans MS;
    font-size: 30px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 50px;
}
li{
    font-size: 40px;
}

.imgdes{
    width: 250px;
    height: 75px;
}
.imgcom{
    width: 60px;
    height: 60px;
}
.imgcar{
    width: 1000px;
    height: 500px;
}
body{
    background-image: url(wallpaper1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
